@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

#__next {
  position: relative;
  min-height: 100vh;
}

.box-list-tags .btn-tag-sm input[type='checkbox'] {
  display: none; /* Hide default checkbox */
}

.box-list-tags .btn-tag-sm.active {
  background-color: #007bff; /* Example active background color */
  color: white;
}

.box-list-tags .btn-tag-sm {
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.hero-image {
  height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  height: 100%;
}

.hero-image::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}


.box-list-tags .btn-tag-sm .checkmark {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid #ccc;
  margin-left: auto;
}


.body{
	font-family: 'Poppins', sans-serif !important;
}


.sectionBackground {
  background-image: url('/assets/imgs/main_image.jpg');
  background-position: center left;
  background-size: cover;
}

.header .main-menu li a.active {
	border-bottom: solid;
}

.mobile-menu li a.active {
border-bottom: solid;
}

.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

.customSpan {
  border-radius: 5px !important;
  border-right: 0 !important;
  background : white
}


.responsive-section {
  width: 100%; /* Adjust as needed */
}

/* Styles for larger screens */


.fading-hr {
	  opacity: 0.1;
	  transition: opacity 2s ease-in-out;
}
.btn-custom-sm {
  font-size: 0.875rem;
  padding: 0.56rem;
}

.pb-9 {
	padding-bottom: 15rem !important;
}

.pt-7 {
	padding-top: 4rem !important;
}

.mt-n8 {
	margin-top: -12rem !important;
}

@media (max-width: 1399.98px) {
	.header .main-menu li {
		padding: 0px 0px !important;
	}
}
.footer {
	background-color: #002366;
	padding: 40px 0px 0px 0px;
}

.icon-md {
    width: 2.6rem;
    height: 2.6rem;
    line-height: 2.6rem;
    text-align: center;
    font-size: 0.8rem;
}

.react-international-phone-input-container{
  display:flex; 
  width: 100%;
}

.react-international-phone-input-container .react-international-phone-country-selector-button{
  height: 50px;
  width: 50px
}

.react-international-phone-input-container .react-international-phone-input{
  height: 50px !important;
 
}

.dropdown .dropdown-menu.show .dropdown-item {
  padding: 0px 0px !important;   
}

