@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

#__next {
  position: relative;
  min-height: 100vh;
}

.box-list-tags .btn-tag-sm input[type='checkbox'] {
  display: none; /* Hide default checkbox */
}

.body{
	font-family: 'Poppins', sans-serif !important;
}


.sectionBackground {
  background-image: url('/assets/imgs/main_image.jpg');
  background-position: center left;
  background-size: cover;
}

.affiliate_background{
	background-image: url('/assets/imgs/affiliate.png');
}

.contact_background{
	background-image: url('/assets/imgs/contact_us.png');
}

.header .main-menu li a.active {
	border-bottom: solid;
}

.mobile-menu li a.active {
border-bottom: solid;
}

.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

.customSpan {
  border-radius: 5px !important;
  border-right: 0 !important;
  background : white
}

.custom-input {
  height: 40px;
  border-left: 0 !important;
  padding: 11px 15px 13px 0px;
}

.responsive-section {
  width: 100%; /* Adjust as needed */
}

/* Styles for larger screens */


.fading-hr {
	  opacity: 0.1;
	  transition: opacity 2s ease-in-out;
}
.btn-custom-sm {
  font-size: 0.875rem;
  padding: 0.56rem;
}

.pb-9 {
	padding-bottom: 15rem !important;
}

.pt-7 {
	padding-top: 4rem !important;
}

.mt-n8 {
	margin-top: -12rem !important;
}

@media (max-width: 1399.98px) {
	.header .main-menu li {
		padding: 0px 0px !important;
	}
}
.footer {
	background-color: #002366;
	padding: 40px 0px 0px 0px;
}

.icon-md {
    width: 2.6rem;
    height: 2.6rem;
    line-height: 2.6rem;
    text-align: center;
    font-size: 0.8rem;
}

